@model IEnumerable<C2B_POE1.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>

<p>
    <a asp-action="Create">Create New Order</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Fufilled)</th>
            <th>Customer PartitionKey</th>
            <th>Order RowKey</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Fufilled)</td>
                <td>@item.PartitionKey</td>
                <td>@item.RowKey</td>
                <td>
                    <a asp-action="Edit" asp-route-partitionKey="@item.PartitionKey" asp-route-rowKey="@item.RowKey">Edit</a> |
                    <a asp-action="Details" asp-route-partitionKey="@item.PartitionKey" asp-route-rowKey="@item.RowKey">Details</a> |
                    <a asp-action="Delete" asp-route-partitionKey="@item.PartitionKey" asp-route-rowKey="@item.RowKey">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
